language: node_js
node_js:
  - '8'
cache: npm
script:
  - npm test
after_success:
  - npm run build
before_deploy:
  - zip -r build build
deploy:
  skip_cleanup: true
  zip_file: 'build.zip'
  provider: elasticbeanstalk
  access_key_id: $ACCESSKEYID
  secret_access_key:
    secure: "$SECRETACCESSKEY"
  region: "us-east-2"
  app: "Bean Test"
  env: "BeanTest-env"
  bucket_name: "elasticbeanstalk-us-east-2-124532820514"
  on:
    branch: master
